@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  background-position: top center;
  background-color: #F74019;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 500px;
 	margin: auto;
   	margin-top: 30px;

}

img {
  border: 7px solid #ff8c00;
}

h1 {
  font-size: 37px;
  font-weight: 650;
  border-bottom: 7px solid #ff8c00;
  text-transform: uppercase;
  display:inline-block;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
}

p {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  color: whitesmoke;
}

button {
  background-color: #ff8c00;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 12px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  width:175px;
  height:39px;
}

button:hover  {
  background-color: #606060;
}

button:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="number"] {
	border: 1em solid #ff8c00;
            padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  width:160px;
  height:27px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  border: 2px solid whitesmoke;
}

input[type=number]:focus{
  background-color: #fff;
  border-bottom: 2px solid #ff8c00;
}

input[type=number]:placeholder {
  color: #cccccc;
}

*:focus {
    outline: none;
}